h2{color: white;}

hr{color: white;}

.card-body{background-color: #0dcaf0;
    color: white;}

    .fondo{background-color: black;}

.btn-round.active,
.btn-round:focus,
.btn-round:active {
    background-color:#373A3C31;
    color: #fff;
}